
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  direction: rtl;
  text-align: right;
  padding: 20px;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

h2 {
  color: #4CAF50;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e3f2fd;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
